:root {
    --titlecolor: #212121;
    --designcolor: #2196f3;
    --textcolor: #757575;
    --white-color: #fff;
    --alt-bgr-color: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--textcolor);
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.current-page {
    color: var(--designcolor);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--bgr-color);
}

.logo,
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--designcolor);
}

.footer-logo.link {
    color: var(--designcolor);
}

.footer-logo-span {
    color: var(--white-color);
}

.logo {
    color: var(--designcolor);
}

.header-logo-span {
    color: #000;
}

.navigation-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titlecolor);
}

.navigation-list-item > .link:hover,
.navigation-list-item > .link:focus {
    color: var(--designcolor);
}

.contacts-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-list-item > .link:hover,
.contacts-list-item > .link:focus {
    color: var(--designcolor);
}

.hero {
    background-color: var(--alt-bgr-color);
}

.title,
.subtitle,
.advantage-list-item-title,
.team-list-item-title,
.project-list-title {
    color: var(--titlecolor);
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.btn-service-order {
    background-color: var(--designcolor);
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    letter-spacing: 0.06em;
    cursor: pointer;
}

.btn-service-order:hover,
.btn-service-order:focus {
    background-color: #188ce8;
}

.advantage {
    background-color: var(--bgr-color);
}

.advantage-list-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantage-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.types-of-work {
    background-color: var(--bgr-color);
}

.team {
    background-color: #f5f4fa;
}

.team-list-item {
    background-color: var(--bgr-color);
}

.team-list-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.projects {
    background-color: var(--bgr-color);
}

.btn-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--designcolor);
    color: var(--white-color);
}

.project-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--alt-bgr-color);
    color: var(--white-color);
}

.footer-logo {
    color: var(--white-color);
}

.address-list-item {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.external-link {
    color: rgba(255, 255, 255, 1);
}

.address-list-item > .link:hover,
.address-list-item > .link:focus {
    color: var(--designcolor);
}
